#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.content {
  padding: 20px;
  background-color: #faf7f2;
  border-radius: 15px;
  text-align: center;
}

.content h1 {
  font-size: 3rem;
}

.content section {
  font-size: 2rem;
}

.about {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.about-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.about-text {
  flex: 1;
  min-width: 200px;
  text-align: left;
}

.about-text h2 {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}

.about-text p {
  line-height: 1.5;
  text-align: left;
  font-size: 2rem;
}

.skills {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.card {
  flex: 1 1 300px;  
  max-width: 400px; 
  padding: 20px;
  border-radius: 10px;
  background-color: #353535;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}


.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff2ec;
  font-size: 2rem;
}

.card p {
  line-height: 1.5;
  color: #fff2ec;
  font-size: 1rem;
}

.card-icon {
  font-size: 2.5rem;
  color: #d26640;
  margin-bottom: 8px;
}

.hackathons {
  display: flex;
  flex-direction: column; 
  gap: 2rem; 
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.hackathon-text {
  text-align: center; 
}

.hackathon-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap; 
}


.hackathon-text h3{
  margin-top: 0;
  margin-bottom: 10px;
}

.hackathon-text p{
  line-height: 1.5;
  font-size: 1.5rem;
}

.hackathon-photo {
  width: 98%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}