.works-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

/* Projects grid */
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-card {
  flex: 1 1 300px;
  max-width: 350px;
  background-color: #353535;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-card h3 {
  color: #d26640;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-card p {
  color: #fff2ec;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-card a {
  font-weight: bold;
  color: #646cff;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
